<%= form_for(@productquantity) do |f| %>
  <% if @productquantity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@productquantity.errors.count, "error") %> prohibited this productquantity from being saved:</h2>

      <ul>
      <% @productquantity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :purchasesid %><br />
    <%= f.number_field :purchasesid %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
