<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @productquantity.id %>
</p>

<p>
  <b>Purchasesid:</b>
  <%= @productquantity.purchasesid %>
</p>

<p>
  <b>Quantity:</b>
  <%= @productquantity.quantity %>
</p>


<%= link_to 'Edit', edit_productquantity_path(@productquantity) %> |
<%= link_to 'Back', productquantities_path %>
