<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @customer.id %>
</p>

<p>
  <b>Fname:</b>
  <%= @customer.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @customer.lname %>
</p>

<p>
  <b>Homephone:</b>
  <%= @customer.homephone %>
</p>

<p>
  <b>Workphone:</b>
  <%= @customer.workphone %>
</p>

<p>
  <b>Mobilephone:</b>
  <%= @customer.mobilephone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Created At:</b>
  <%= @customer.created_at %>
</p>

<a href="<%= @customer.pic.url %> ">
  <b> File attached </b></a>
<br/>

<%= image_tag @customer.pic.url %>
<br/>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
